body {
    font-size: 14px;
  }
  .v31_116 {
    width: 100%;
    height: 1600px;
    background: rgba(9,9,9,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: -1;
  }
  .v31_119 {
    width: 292px;
    height: 297px;
    background: url("./images/firebaselogo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 75px;
    left: 71%;
    overflow: hidden;
  }
  .v31_121 {
    width: 837px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 75px;
    left: 7%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400px;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .button8 {
    padding: 18px 30px;
    position: absolute;
    top: 1500px;
    left: 46.25%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: white;
    background-color: #000000;
    border: 2px solid white;
    cursor: pointer;
  }
  .color_break {
    top: 35%;
    height: 65%;
    width: 100%;
    position: absolute;
    background-color: #6D6C6C;
    z-index: 0;
  }
  .line {
    border: 2px solid red;
    top: 33.9%;
    left: 7%;
    width: 86%;
    position: absolute;
    z-index: 1;
  }
  .app {
    margin-top: 33%;
    z-index: -1;
  }