body {
    font-size: 14px;
  }
  .v18_116 {
    width: 100%;
    height: 4597px;
    background: rgba(9,9,9,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: -1;
  }
  .v19_143 {
    width: 854px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1.43%;
    left: 13%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400px;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v19_163 {
    width: 292px;
    height: 297px;
    background: url("./images/vscLogo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 66px;
    left: 70%;
    overflow: hidden;
  }
  .v26_55 {
    width: 585px;
    height: 592px;
    background: url("./images/snake2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 25%;
    left: 56%; /*1000*/
    overflow: hidden;
  }
  .v27_60 {
    width: 526px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 500px;
    left: 56%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400px;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v31_87 {
    width: 500px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1992px;
    left: 56%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400px;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v31_107 {
    width: 526px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2916px;
    left: 13%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400px;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v31_111 {
    width: 669px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3719px;
    left: 52.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400px;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v31_54 {
    width: 645px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 27.5%;
    left: 9%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400px;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v83_38 {
    width: 633px;
    height: 673px;
    background: url("./images/html.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1852px;
    left: 9%;
    overflow: hidden;
  }
  .v83_40 {
    width: 603px;
    height: 631px;
    background: url("./images/javascript.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 438px;
    left: 10%;
    overflow: hidden;
  }
  .v83_42 {
    width: 585px;
    height: 659px;
    background: url("./images/css.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2811px;
    left: 56%;
    overflow: hidden;
  }
  .v83_43 {
    width: 482px;
    height: 888px;
    background: url("./images/Csharp.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3617px;
    left: 13%;
    overflow: hidden;
  }
  .button6 {
    padding: 18px 30px;
    position: absolute;
    top: 1500px;
    left: 26.3%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: white;
    background-color: #000000;
    border: 2px solid white;
    cursor: pointer;
  }
  .button7 {
    margin-left: 65vw;
    padding: 18px 30px;
    position: absolute;
    top: 4300px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: white;
    background-color: #000000;
    border: 2px solid white;
    cursor: pointer;
  }
  .color_break1 {
    top: 400px;
    height: 700px;
    width: 100%;
    position: absolute;
    background-color: #6D6C6C;
    z-index: 0;
  }
  .color_break2 {
    top: 1800px;
    height: 900px;
    width: 100%;
    position: absolute;
    background-color: #6D6C6C;
    z-index: 0;
  }
  .color_break3 {
    top: 3550px;
    height: 1047px;
    width: 100%;
    position: absolute;
    background-color: #6D6C6C;
    z-index: 0;
  }
  .hr1 {
    border: 2px solid red;
    top: 391px;
    left: 13%;
    width: 74%;
    position: absolute;
    z-index: 1;
  }
  .hr2 {
    border: 2px solid red;
    top: 1091px;
    left: 13%;
    width: 74%;
    position: absolute;
    z-index: 1;
  }
  .hr3 {
    border: 2px solid red;
    top: 1791px;
    left: 13%;
    width: 74%;
    position: absolute;
    z-index: 1;
  }
  .hr4 {
    border: 2px solid red;
    top: 2691px;
    left: 13%;
    width: 74%;
    position: absolute;
    z-index: 1;
  }
  .hr5 {
    border: 2px solid red;
    top: 3541px;
    left: 13%;
    width: 74%;
    position: absolute;
    z-index: 1;
  }