body {
    font-size: 14px;
  }
  .v18_116 {
    width: 100%;
    height: 4597px;
    background: rgba(9,9,9,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v19_143 {
    width: 854px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 66px;
    left: 133px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v19_163 {
    width: 292px;
    height: 297px;
    background: url("../images/v19_163.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 66px;
    left: 1035px;
    overflow: hidden;
  }
  .v26_55 {
    width: 585px;
    height: 592px;
    background: url("../images/v26_55.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1114px;
    left: 778px;
    overflow: hidden;
  }
  .v27_60 {
    width: 526px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 500px;
    left: 772px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v31_87 {
    width: 526px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1992px;
    left: 778px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v31_107 {
    width: 526px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2916px;
    left: 138px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v31_111 {
    width: 669px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3719px;
    left: 700px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v31_54 {
    width: 645px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1267px;
    left: 87px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v83_38 {
    width: 633px;
    height: 673px;
    background: url("../images/v83_38.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1852px;
    left: 69px;
    overflow: hidden;
  }
  .v83_40 {
    width: 603px;
    height: 631px;
    background: url("../images/v83_40.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 438px;
    left: 69px;
    overflow: hidden;
  }
  .v83_42 {
    width: 585px;
    height: 659px;
    background: url("../images/v83_42.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2811px;
    left: 778px;
    overflow: hidden;
  }
  .v83_43 {
    width: 482px;
    height: 888px;
    background: url("../images/v83_43.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3617px;
    left: 138px;
    overflow: hidden;
  }